body{
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.contin{
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.pad{
  padding: 8px 0;
}

.top{
  background: #222;
}

.c-box{
  float: left;
  width: 50%;
}

.c-box p{
  color: #d08313;
  margin: 0;
}

.social{
  float: left;
  width: 50%
}

.social ul{
  margin: 0;
  padding: 0;
  text-align: right;
}

.social ul li{
  display: inline-block;
  list-style: none;
}

.social ul li a{
  padding: 0 5px;
  color: #797979;
  display: block;
}

.logo{
  width: 15%;
  float: left;
}

.menu{
  width: 80%;
  float: left;
}

.logo img{
width: 35px;
}

.menu ul{
  margin: 0;
  padding: 0;
  text-align: right;
}

.menu ul li{
  list-style: none;
  display: inline-block;
}

.menu ul li a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  color: #222;
}

.menu ul li a:hover{
  color: #d08313;
  background: rgb(226, 226, 226);
}

.button{
  border: 1px solid #000;
  border-radius: 5px;
}

.menu ul li:nth child(4){
border-right: 0 solid rgb(226,226,226);
}

.menu ul li:last child{
  border-right: 0 solid rgb(226,226,226);
}

.bg{
  background-image: url(../images/turntable.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.b-con{
  width: 50%;
  float: left;
  padding: 100px 0;
}
.b-con h1{
  font-size: 40px;
  color: #1b1b1b;
}
.b-con h1 span{
  color: #d08313;

}

.b-con img{
  max-width: 100%;
  width: 100px;
}

.sigup{
width: 50%;
float: left;
padding: 110px 0;

}

.sigup .form{
  background: #fff;
padding: 40px 50px;
margin: 20px 28px;

}

.form input{
  width: 95%;
  padding: 10px;
  display: block;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #222;
}

.form .button{
  width: auto;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
}

.form h1{
  text-align: center;
}
.p{
  font-size: 25px;
}
.futar{
  background: #D0DD61;
}
.fimg1{
  float: left;
}
.fimg1 img{
  max-width: 100%;
width: 65px;
padding: 0px 10px;

}
.fimg2{
  float: left;
}
.fimg2 img{
  max-width: 100%;
width: 30px;
padding: 5px 10px;

}
 
.fimg3{
  float: left;
}
.fimg3 img{
  max-width: 100%;
width: 80px;
padding: 10px 10px;

}
